{% extends 'layoust/base.html' %}



{% block content %}
  
  
<h1>About</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui enim quae a esse voluptas tenetur dicta commodi pariatur sunt doloribus quas magnam fugiat ut magni expedita quaerat aperiam, laudantium doloremque velit ex cum saepe dolorum. Aspernatur beatae est alias aut ipsa, similique minima ad quae sequi cum eius nam voluptate corporis cupiditate odio quod, sapiente error quia unde? A inventore maxime dolorum soluta impedit voluptatum deleniti tempora distinctio voluptas, corrupti quod, id dolorem asperiores nemo, esse harum? Impedit quisquam consectetur aut? Accusantium soluta fugiat, beatae quibusdam quaerat quia maiores vero aliquid aspernatur saepe modi blanditiis non dolor, a dolores hic?</p>

<p>Web site created by {{ username }}</p>

{% endblock %}
